
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="row">
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-lg-3 col-md-3">
            <div class="col-lg-12" id="sticky-sidebar">
                <ul class="list-group">
                    <li class="list-group-item active" style="margin:-3px;">Trending</li>
                    <li class="list-group-item">Peers Technologies</li>
                    <li class="list-group-item">Naresh Technologies</li>
                    <li class="list-group-item">Global Tech</li>
                    <li class="list-group-item">...</li>
                    <li class="list-group-item">...</li>
                    <li class="list-group-item">...</li>
                    <li class="list-group-item">...</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-7 col-md-7" id="main">
            <div class="row rowCard">
                <div class="col-md-4">
                    <img src="~/images/office.jpg" />
                </div>
                <div class="col-md-8">
                    <h3>Naresh Technologies</h3>
                    <p>
                        <!-- <span>
                            <b><i class="fa fa-home"></i> Address: </b> Flat:121, Ameerpet, Hyderabad-500018
                        </span>
                        <br /> -->
                        <span>
                            <b><i class="fa fa-map-marker"></i> Location: </b> Hyderabad
                        </span>
                        <br />
                        <span>
                            <b><i class="fa fa-phone"></i> Phone: </b> 040-2356236, 2563544
                        </span>
                        <br />
                        <span>
                            <b><i class="fa fa-envelope"></i> Email: </b> support@nareshtech.com
                        </span>
                        <br />
                        <span>
                            <b>Searched course:</b> <span class="badge badge-pill badge-success"> java</span>
                        </span>
                        <br />
                        <span>
                            <b>Suggested course:</b>
                            <span class="badge badge-pill badge-primary"> Javascript</span>
                            <span class="badge badge-pill badge-primary"> Angular</span>
                            <span class="badge badge-pill badge-primary"> Dotnet</span>
                            <span class="badge badge-pill badge-primary"> PHP</span>
                            <span class="badge badge-pill badge-primary"> Hadoop</span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row rowCard">
                <div class="col-md-4">
                    <img src="~/images/office.jpg" class="img-rounded" />
                </div>
                <div class="col-md-8">
                    <h3>Pragim Technologies</h3>
                    <p>
                        <!-- <span>
                            <b><i class="fa fa-home"></i> Address: </b> Flat:121, Ameerpet, Hyderabad-500018
                        </span>
                        <br /> -->
                        <span>
                            <b><i class="fa fa-map-marker"></i> Location: </b> Hyderabad
                        </span>
                        <br />
                        <span>
                            <b><i class="fa fa-phone"></i> Phone: </b> 040-2356236, 2563544
                        </span>
                        <br />
                        <span>
                            <b><i class="fa fa-envelope"></i> Email: </b> support@pragim.com
                        </span>
                        <br />
                        <span>
                            <b>Searched course:</b> <span class="badge badge-pill badge-success"> java</span>
                        </span>
                        <br />
                        <span>
                            <b>Suggested course:</b>
                            <span class="badge badge-pill badge-primary"> Node.js</span>
                            <span class="badge badge-pill badge-primary"> Angular</span>
                            <span class="badge badge-pill badge-primary"> Dotnet</span>
                            <span class="badge badge-pill badge-primary"> Hadoop</span>
                            <span class="badge badge-pill badge-primary"> Hardware & Networking</span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row rowCard">
                <div class="col-md-4">
                    <img src="~/images/office.jpg" class="img-rounded" />
                </div>
                <div class="col-md-8">
                    <h3>Pragim Technologies</h3>
                    <p>
                        <!-- <span>
                            <b><i class="fa fa-home"></i> Address: </b> Flat:121, Ameerpet, Hyderabad-500018
                        </span>
                        <br /> -->
                        <span>
                            <b><i class="fa fa-map-marker"></i> Location: </b> Hyderabad
                        </span>
                        <br />
                        <span>
                            <b><i class="fa fa-phone"></i> Phone: </b> 040-2356236, 2563544
                        </span>
                        <br />
                        <span>
                            <b><i class="fa fa-envelope"></i> Email: </b> support@pragim.com
                        </span>
                        <br />
                        <span>
                            <b>Searched course:</b> <span class="badge badge-pill badge-success"> java</span>
                        </span>
                        <br />
                        <span>
                            <b>Suggested course:</b>
                            <span class="badge badge-pill badge-primary"> Node.js</span>
                            <span class="badge badge-pill badge-primary"> Angular</span>
                            <span class="badge badge-pill badge-primary"> Dotnet</span>
                            <span class="badge badge-pill badge-primary"> Hadoop</span>
                            <span class="badge badge-pill badge-primary"> Hardware & Networking</span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row rowCard">
                <div class="col-md-4">
                    <img src="~/images/office.jpg" class="img-rounded" />
                </div>
                <div class="col-md-8">
                    <h3>Pragim Technologies</h3>
                    <p>
                        <!-- <span>
                            <b><i class="fa fa-home"></i> Address: </b> Flat:121, Ameerpet, Hyderabad-500018
                        </span>
                        <br /> -->
                        <span>
                            <b><i class="fa fa-map-marker"></i> Location: </b> Hyderabad
                        </span>
                        <br />
                        <span>
                            <b><i class="fa fa-phone"></i> Phone: </b> 040-2356236, 2563544
                        </span>
                        <br />
                        <span>
                            <b><i class="fa fa-envelope"></i> Email: </b> support@pragim.com
                        </span>
                        <br />
                        <span>
                            <b>Searched course:</b> <span class="badge badge-pill badge-success"> java</span>
                        </span>
                        <br />
                        <span>
                            <b>Suggested course:</b>
                            <span class="badge badge-pill badge-primary"> Node.js</span>
                            <span class="badge badge-pill badge-primary"> Angular</span>
                            <span class="badge badge-pill badge-primary"> Dotnet</span>
                            <span class="badge badge-pill badge-primary"> Hadoop</span>
                            <span class="badge badge-pill badge-primary"> Hardware & Networking</span>
                        </span>
                    </p>
                </div>
            </div>

            <!-- pagination -->

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>